
	    <!DOCTYPE html>
<html>
<head>
<meta charset="utf-8" />
<title>CSS3 Contact Form</title>

</head>
<body>
<div id="contact">
    <h1>Enter your details</h1>
    <form action="/buy" method="post">
        <fieldset>
            <label for="name">Name:</label>
            <input type="text" id="rname1" name="rname1" placeholder="Enter your full name" />
			<br/>
            <br/>
            <label for="email">Country Code</label>
            <input type="text" id="rccode1" name="rccode1" placeholder="Enter your country code" />
			<br/>
            <br/>
	    <label for="name">Number</label>
            <input type="text" id="rnumber1" name="rnumber1" placeholder="Enter your phone number" />
			<br/>
            <br/>
	    <label for="name">Email</label>
            <input type="email" id="remail1" name="remail1" placeholder="Enter your email" />
			<br/>
            <br/>
	    <label for="name">Address</label>
            <input type="text" id="raddress1" name="raddress1" placeholder="Enter your address" />
			<br/>
            <br/>
	    <label for="name">State</label>
            <input type="text" id="rstate1" name="rstate1" placeholder="Enter your state" />
			<br/>
            <br/>
	    <label for="name">Pin:</label>
            <input type="text" id="rpin1" name="rpin1" placeholder="Enter your pin" />
			<br/>
            <br/>
	    <label for="name">Country:</label>
            <input type="text" id="rcountry1" name="rcountry1" placeholder="Enter your country" />
            <br/>
            <br/>
		<label for="name">Enter the quantity</label>
	   <select id="dropdown">
  <option value="1">1</option>
  <option value="2">2</option>
  <option value="3">3</option>

</select><br/><br/>
<input type="checkbox" name="checkBox" id="checkBox" value="true">All packages are to be delivered at the same address
<br/>
            <br/>
<input type="submit" value="Submit">
        </fieldset>
    </form>
</div>
</body>
</html>




    </form>
</div>
</body>
</html>
