<!DOCTYPE HTML>
<!--
	Landed by HTML5 UP
	html5up.net | @n33co
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
	<head>
		<title>Gags By Mail</title>
		<meta http-equiv="content-type" content="text/html; charset=utf-8" />
		<meta name="description" content="" />
		<meta name="keywords" content="" />
		<!--[if lte IE 8]><script src="css/ie/html5shiv.js"></script><![endif]-->
		<script src="js/jquery.min.js"></script>
		<script src="js/jquery.scrolly.min.js"></script>
		<script src="js/jquery.dropotron.min.js"></script>
		<script src="js/jquery.scrollex.min.js"></script>
		<script src="js/skel.min.js"></script>
		<script src="js/skel-layers.min.js"></script>
		<script src="js/init.js"></script>
		<noscript>
			<link rel="stylesheet" href="css/skel.css" />
			<link rel="stylesheet" href="css/style.css" />
			<link rel="stylesheet" href="css/style-xlarge.css" />
		</noscript>
		<!--[if lte IE 9]><link rel="stylesheet" href="css/ie/v9.css" /><![endif]-->
		<!--[if lte IE 8]><link rel="stylesheet" href="css/ie/v8.css" /><![endif]-->
	</head>
	<body class="landing">

		<!-- Header -->
			<header id="header">
				<h1 id="logo"><a href="index.html">GAGS BY MAIL</a></h1>
				<nav id="nav">
					<ul>
						<li><a href="index.html">HOME</a></li>
			it 			<li>
							<a href="">BUY NOW</a>
							
						</li>
						<li><a href="elements.html">PROCESS</a></li>
						<li><a href="#" class="button special">HIT US</a></li>
					</ul>
				</nav>
			</header>

		<!-- Banner -->
			<section id="banner">
				<div class="content">
					<header>
						<h2>THIS APRIL FOOLS DAY</h2>
						<p>HAVE THE BIGGEST REVENGE <br />
						AND TAKE HAVE THE ULTIMATE SATISFACTION</p>
					</header>
					<span class="image"><img src="images/Cartoon-Devil.png" alt="" /></span>
				</div>
				<a href="#one" class="goto-next scrolly">Next</a>
			</section>

		<!-- One -->
			<section id="one" class="spotlight style1 bottom">
				<span class="image fit main"><img src="images/pic05.jpg" alt="" /></span>
				<div class="content">
					<div class="container">
						<div class="row">
							<div class="4u 12u$(2)">
								<header>
									<h2>HAVE DOUBTS?</h2>
									
								</header>
							</div>
							<div class="4u 12u$(2)">
								<p>THE DONT WE HAVE A CLEAR VISSION OF JUST HAVING FUN WITH THE PEOPLE</p>
							</div>
							<div class="4u$ 12u$(2)">
								<p>STILL SCARED?</p>
							</div>
						</div>
					</div>
				</div>
				<a href="#two" class="goto-next scrolly">Next</a>
			</section>

		<!-- Two -->
			<section id="two" class="spotlight style2 right">
				<span class="image fit main"><img src="images/chocolate.jpg" alt="" /></span>
				<div class="content">
					<header>
						<h2>CHOCOLATE BOMB</h2>
						<p>Nunc commodo accumsan eget id nisi eu col volutpat magna</p>
					</header>
					<p>Feugiat accumsan lorem eu ac lorem amet ac arcu phasellus tortor enim mi mi nisi praesent adipiscing. Integer mi sed nascetur cep aliquet augue varius tempus lobortis porttitor lorem et accumsan consequat adipiscing lorem.</p>
					<ul class="actions">
						<li><a href="#" class="button">BUY NOW</a></li>
					</ul>
				</div>
				<a href="#three" class="goto-next scrolly">Next</a>
			</section>

		<!-- Three -->
			<section id="three" class="spotlight style3 left">
				<span class="image fit main bottom"><img src="images/holi-feast-3.jpeg" alt="" /></span>
				<div class="content">
					<header>
						<h2>GULAL BOMB</h2>
						<p>Accumsan integer ultricies aliquam vel massa sapien phasellus</p>
					</header>
					<p>Feugiat accumsan lorem eu ac lorem amet ac arcu phasellus tortor enim mi mi nisi praesent adipiscing. Integer mi sed nascetur cep aliquet augue varius tempus lobortis porttitor lorem et accumsan consequat adipiscing lorem.</p>
					<ul class="actions">
						<li><a href="#" class="button">BUY NOW</a></li>
					</ul>
				</div>
				<a href="#four" class="goto-next scrolly">Next</a>
			</section>
            
            <section id="two" class="spotlight style2 right">
				<span class="image fit main"><img src="images/holi2.jpg" alt="" /></span>
				<div class="content">
					<header>
						<h2>GULAL ENVELOPE</h2>
						<p>Nunc commodo accumsan eget id nisi eu col volutpat magna</p>
					</header>
					<p>Feugiat accumsan lorem eu ac lorem amet ac arcu phasellus tortor enim mi mi nisi praesent adipiscing. Integer mi sed nascetur cep aliquet augue varius tempus lobortis porttitor lorem et accumsan consequat adipiscing lorem.</p>
					<ul class="actions">
						<li><a href="#" class="button">BUY NOW</a></li>
					</ul>
				</div>
				<a href="#three" class="goto-next scrolly">Next</a>
			</section>
            

		<!-- Four -->
			<section id="four" class="wrapper style1 special fade-up">
				<div class="container">
					<header class="major">
						<h2>OUR PROCESS</h2>
						<p>This is how we do it</p>
					</header>
					<div class="box alt">
						<div class="row uniform">
							<section class="4u 6u(2) 12u$(3)">
								<span class="icon alt major fa-area-chart"></span>
								<h3>Ideate</h3>
								<p>Feugiat accumsan lorem eu ac lorem amet accumsan donec. Blandit orci porttitor.</p>
							</section>
							<section class="4u 6u$(2) 12u$(3)">
								<span class="icon alt major fa-comment"></span>
								<h3>Innovate</h3>
								<p>Feugiat accumsan lorem eu ac lorem amet accumsan donec. Blandit orci porttitor.</p>
							</section>
							<section class="4u$ 6u(2) 12u$(3)">
								<span class="icon alt major fa-flask"></span>
								<h3>Test</h3>
								<p>Feugiat accumsan lorem eu ac lorem amet accumsan donec. Blandit orci porttitor.</p>
							</section>
							<section class="4u 6u$(2) 12u$(3)">
								<span class="icon alt major fa-paper-plane"></span>
								<h3>Plan</h3>
								<p>Feugiat accumsan lorem eu ac lorem amet accumsan donec. Blandit orci porttitor.</p>
							</section>
							<section class="4u 6u(2) 12u$(3)">
								<span class="icon alt major fa-file"></span>
								<h3>Implement</h3>
								<p>Feugiat accumsan lorem eu ac lorem amet accumsan donec. Blandit orci porttitor.</p>
							</section>
							<section class="4u$ 6u$(2) 12u$(3)">
								<span class="icon alt major fa-lock"></span>
								<h3>Deliver</h3>
								<p>Feugiat accumsan lorem eu ac lorem amet accumsan donec. Blandit orci porttitor.</p>
							</section>
						</div>
					</div>
					<footer class="major">
						<ul class="actions">
							<!--<li><a href="#" class="button">Magna sed feugiat</a></li>-->
						</ul>
					</footer>
				</div>
			</section>

		<!-- Five -->
			<!--<section id="five" class="wrapper style2 special fade">
				<div class="container">
					<header>
						<h2>Magna faucibus lorem diam</h2>
						<p>Ante metus praesent faucibus ante integer id accumsan eleifend</p>
					</header>
					<form method="post" action="#" class="container 50%">
						<div class="row uniform 50%">
							<div class="8u 12u$(3)"><input type="email" name="email" id="email" placeholder="Your Email Address" /></div>
							<div class="4u$ 12u$(3)"><input type="submit" value="Get Started" class="fit special" /></div>
						</div>
					</form>
				</div>
			</section>
-->
		<!-- Footer -->
			<footer id="footer">
				<ul class="icons">
					<li><a href="#" class="icon alt fa-twitter"><span class="label">Twitter</span></a></li>
					<li><a href="#" class="icon alt fa-facebook"><span class="label">Facebook</span></a></li>
					<li><a href="#" class="icon alt fa-linkedin"><span class="label">LinkedIn</span></a></li>
					<li><a href="#" class="icon alt fa-instagram"><span class="label">Instagram</span></a></li>
					<li><a href="#" class="icon alt fa-github"><span class="label">GitHub</span></a></li>
					<li><a href="#" class="icon alt fa-envelope"><span class="label">Email</span></a></li>
				</ul>
				<ul class="copyright">
					<li>&copy; Untitled. All rights reserved.</li><li>Design: <a href="">Pratik Agarwal</a></li>
				</ul>
			</footer>

	</body>
</html>
