<!DOCTYPE HTML>
<!--
	Landed by HTML5 UP
	html5up.net | @n33co
	Free for personal and commercial use under the CCA 3.0 license (html5up.net/license)
-->
<html>
<head>
    <title>Gags By Mail</title>
    <meta http-equiv="content-type" content="text/html; charset=utf-8"/>
    <meta name="description" content=""/>
    <meta name="keywords" content=""/>
    <!--[if lte IE 8]>
    <script src="css/ie/html5shiv.js"></script><![endif]-->
    <script src="js/jquery.min.js"></script>
    <script src="js/jquery.scrolly.min.js"></script>
    <script src="js/jquery.dropotron.min.js"></script>
    <script src="js/jquery.scrollex.min.js"></script>
    <script src="js/skel.min.js"></script>
    <script src="js/skel-layers.min.js"></script>
    <script src="js/init.js"></script>
    <script src="js/jquery.poptrox.min.js"></script>
    <script>
        jQuery.noConflict();
    </script>
    <script src="js/cerabox.min.js"></script>
    <script src="MooTools-Core-1.5.1"></script>
    <script type="text/javascript">
    window.addEvent('domready', function(){
    });
    </script>
    <noscript>
        <link rel="stylesheet" href="css/cerabox.css" media="screen" />
        <link rel="stylesheet" href="css/skel.css"/>
        <link rel="stylesheet" href="css/style.css"/>
        <link rel="stylesheet" href="css/style-xlarge.css"/>
    </noscript>
    <!--[if lte IE 9]>
    <link rel="stylesheet" href="css/ie/v9.css"/><![endif]-->
    <!--[if lte IE 8]>
    <link rel="stylesheet" href="css/ie/v8.css"/><![endif]-->
</head>
<body class="landing">

<!-- Header -->
<header id="header">
    <h1 id="logo"><a href="index.html">GAGS BY MAIL</a></h1>
    <nav id="nav">
        <ul>
            <li><a href="#banner">HOME</a></li>
            <li>
                <a href="#choc">BUY NOW</a>

            </li>
            <li><a href="#four">PROCESS</a></li>
            <li><a href="#footer" class="button special">HIT US</a></li>
        </ul>
    </nav>
</header>

<!-- Banner -->
<section id="banner">
    <div class="content">
        <header>
            <h2>THIS APRIL FOOLS DAY</h2>

            <p>PLAY PRANKS LIKE NEVER BEFORE <br/>
                GAGS BY MAIL BRINGS YOU THE MOST CREATIVE PRANKS IN THE HISTORY OF INDIA!<br/>ALL PRODUCTS TO BE SHIPPED
                IN TIME FOR APRIL FOOLS' DAY IF ORDERED BEFORE 27th.</p>
        </header>
        <span class="image"><img src="images/Cartoon-Devil.png" alt=""/></span>
    </div>
    <a href="#one" class="goto-next scrolly">Next</a>
</section>

<!-- One -->
<section id="one" class="spotlight style1 bottom">
    <span class="image fit main"><img src="images/pic05.jpg" alt=""/></span>

    <div class="content">
        <div class="container">
            <div class="row">
                <div class="4u 12u$(2)">
                    <header>
                        <a href="#choc">
                            <div class="circle"><br/>Chilly Chocolate</div>
                        </a>


                    </header>
                </div>
                <div class="4u 12u$(2)">

                    <a href="#love">
                        <div class="circle"><br/>Love in blood</div>
                    </a>
                </div>
                <div class="4u$ 12u$(2)">
                    <a href="#bomb">
                        <div class="circle"><br/>Glitter works</div>
                    </a>
                </div>
            </div>
        </div>
    </div>
    <a href="#two" class="goto-next scrolly">Next</a>
</section>

<!-- Two -->
<section id="two" class="spotlight style2 right">
    <span class="image fit main"><img src="images/chocolate.jpg" alt=""/></span>

    <div class="content">
        <header>
            <h2 id="choc">CHILLY CHOCOLATE</h2>
            <font size="-1"><p class="small">Set fire to tongues with the classic hot indian chilly disguised as
                    innocent chocolates.</p></font>
        </header>
        <p class="small">Filled lovingly with the choiciest and spiciest chilly powders in the market, gagsbymail's
            irresistible chilli chocolates are bound to leave your friends thirsting for more (*water). Carefully packed
            for maximum deception, the 6 or 5 pack contains 2 regular chocolates in the diagonals (see attached image
            for details) along with the ultra hot chilli centered ones. Pop the regular chocolate in your mouth and
            snigger while your friends turn red with heat. Read the terms carefully before ordering.<br/>Order before
            27th March for delivery on April Fools' Day.</p>
        <ul class="actions">
            <li><a href="http://xzhibit.com" class="button">BUY 1</a></li>
            <!--<li><a href="https://www.payumoney.com/paybypayumoney/#/37321" class="button">BUY 1</a></li>-->
            <li><a href="https://www.payumoney.com/paybypayumoney/#/37323" class="button">BUY 2</a></li>
            <li><a href="https://www.payumoney.com/paybypayumoney/#/37329" class="button">BUY 3</a></li>
        </ul>
    </div>
    <a href="#three" class="goto-next scrolly">Next</a>
</section>

<section id="three" class="spotlight style3 left">
    <span class="image fit main bottom"><img src="images/blood.jpg" alt=""/></span>

    <div class="content">
        <header>
            <h2 id="love">LOVE IN BLOOD</h2>

            <p>Create the stalker experience with our handcrafted blood letters</p>
        </header>
        <p>A stalker sent letter, written in blood (ink) <br/>Order before 27th March for delivery on April Fools' Day.
        </p>
        <ul class="actions">
            <li><a href="https://www.payumoney.com/paybypayumoney/#/37325" class="button">BUY NOW</a></li>
        </ul>
    </div>
    <a href="#four" class="goto-next scrolly">Next</a>
</section>

<!-- Three -->
<section id="three" class="spotlight style3 right">
    <span class="image fit main bottom"><img src="images/GTY_glitter_hands_jtm_150113_16x9_992.jpg" alt=""/></span>

    <div class="content">
        <header>
            <h2 id="bomb">GLITTER BOMB</h2>

            <p class="small">Spread the most wonderful substance to ever irritate mankind</p>
        </header>
        <p class="small">Glitter is the unfortunate tragedy of the craft industry. Gets virtually everywhere, difficult
            to get off, makes life hell. Now spread the same to your wonderful friends through our cleverly concealed
            glitter bombs. Our glitter bombs are 100% explosives free and are shipped in a myriad of disguises to avoid
            detection. Read the terms and conditions carefully before ordering.<br/>Order before 27th March for delivery
            on April Fools' Day.</p>
        <ul class="actions">
            <li><a href="https://www.payumoney.com/paybypayumoney/#/37315" class="button">BUY 1</a></li>
            <li><a href="https://www.payumoney.com/paybypayumoney/#/37319" class="button">BUY 2</a></li>
            <li><a href="https://www.payumoney.com/paybypayumoney/#/37331" class="button">BUY 3</a></li>
        </ul>
    </div>
    <a href="#four" class="goto-next scrolly">Next</a>
</section>

<section id="two" class="spotlight style2 left">
    <span class="image fit main"><img src="images/Glitter-Envelope-2.jpg" alt=""/></span>

    <div class="content">
        <header>
            <h2 id="enve">GULAL ENVELOPE</h2>

            <p>The classic glitter gag, now in India!</p>
        </header>
        <p>Want to spread the glitter message on a budget? Look no further than the glitter envelope. Sent through our
            fastest shipping methods the glitter envelope is sure to send glitter flying all over them and their
            surroundings. The all time classic way of telling someone how much you miss them (and hate their guts).<br/>Order
            before 27th March for delivery on April Fools' Day.</p>
        <ul class="actions">
            <li><a href="https://www.payumoney.com/paybypayumoney/#/37327" class="button">BUY 1</a></li>
            <li><a href="https://www.payumoney.com/paybypayumoney/#/21CCF7F4D29AA556E4920FAEA66E0D88" class="button">BUY
                    2</a></li>
        </ul>
    </div>
    <a href="#three" class="goto-next scrolly">Next</a>
</section>


<!-- Four -->
<section id="four" class="wrapper style1 special fade-up">
    <div class="container">
        <header class="major">
            <h2>GOT A QUESTION?</h2>

            <p>All your doubts answered.</p>
        </header>
        <div class="box alt">
            <div class="row uniform">
                <section class="4u 6u(2) 12u$(3)">
                    <span class="icon alt major fa-area-chart"></span>

                    <h3>Can you really do this?</h3>

                    <p>Duh, we made a website and paid good money for it to just scam gullible people. We use FedEx to
                        ensure timely delivery to our beloved vicims.</p>
                </section>
                <section class="4u 6u$(2) 12u$(3)">
                    <span class="icon alt major fa-comment"></span>

                    <h3>How does it work?</h3>

                    <p>1.Choose your weapon 2.Enter your message (optional) 3.Process the payment 4.Sit back and
                        relax </p>
                </section>
                <section class="4u$ 6u(2) 12u$(3)">
                    <span class="icon alt major fa-flask"></span>

                    <h3>Will the recipient know who sent it?</h3>

                    <p>No personal information is shared with the recipient other than what you add in the custom
                        message. We do maintain records for legal purposes. :P AND we will be verifying every order.</p>
                </section>
                <section class="4u 6u$(2) 12u$(3)">
                    <span class="icon alt major fa-paper-plane"></span>

                    <h3>Cost?</h3>

                    <p>The costs are inclusive of shipping to any part of India. We use FedEx to provide the best
                        delivery experience possible. However, shipping is sometimes delayed because of on-ground
                        realities.</p>
                </section>
                <section class="4u 6u(2) 12u$(3)">
                    <span class="icon alt major fa-file"></span>

                    <h3>What's the glitter bomb?</h3>

                    <p>Our specially designed glitter bomb is a non toxic, non explosive, high torsion canister based
                        device that may be disguised in one of many ways.(eg.as a deodorant bottle). The device is not a
                        toy and SHOULD NOT BE SENT to anyone under the age of 18 years or with any disease of the heart
                        or lungs, anxiety or who may be otherwise discomforted with loud noises. Read our Terms and
                        Conditions..</p>
                </section>
                <section class="4u$ 6u$(2) 12u$(3)">
                    <span class="icon alt major fa-lock"></span>

                    <h3> envelope?</h3>

                    <p>Feugiat accumsan lorem eu ac lorem amet accumsan donec. Blandit orci porttitor.</p>
                </section>
            </div>
        </div>
        <footer class="major">
            <ul class="actions">
                <!--<li><a href="#" class="button">Magna sed feugiat</a></li>-->
            </ul>
        </footer>
    </div>
</section>

<button onclick="myFunction()">Terms & Conditions</button>
<dialog id="myDialog">You may NOT use our service to threaten, constitute harassment, violate a legal restraint, or any
    other unlawful purpose. The customer agrees that this is a gag gift, novelty service for entertainment ONLY and that
    is their only intention. gagsbymail.com‘s liability to the customer is limited to the price of the product.
    Customers ordering any items from this web site agree to release gagsbymail.com, its agents, officers, and employees
    of any and all liability associated with the use of our services.
    You must be at least 18 years old to purchase and the recipient must be over the age of 18 and in sound health.
    <br/>
    All Custom notes are reviewed and any content deemed inappropriate will be omitted, which includes threats and
    harassment.

    All content on the site is for comedic purposes only. Please do not use our service for any other reason than as a
    novelty, gag gift and for entertainment purposes only. If you are not 100% sure the recipient will understand the
    novelty of the item, DO NOT SEND.<br/>
    Email <strong><a href="mailto:info@shipyourenemiesgulal.com">info@shipyourenemiesgulal.com</></a></strong> for any
    further clarification.
</dialog>


<footer id="footer">
    <ul class="icons">

        <li><a href="#" class="icon alt fa-facebook"><span class="label">Facebook</span></a></li>

        <li><a href="#" class="icon alt fa-github"><span class="label">GitHub</span></a></li>

    </ul>
    <ul class="copyright">
        <li>&copy; Untitled. All rights reserved.</li>
        <li>Design: <a href="">Pratik Agarwal</a></li>
    </ul>
</footer>

</body>
</html>